/* general css */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', 'Inter', sans-serif;
    /* background: #AAAAAA; */
}

a {
    text-decoration: none;
}

p {
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
}

ul,
li {
    list-style: none;
}

/* spacing */

/* padding-top */
.padding-top-120px {
    padding-top: 120px;
}

.padding-top-110px {
    padding-top: 110px;
}

.padding-top-100px {
    padding-top: 100px;
}

.padding-top-90px {
    padding-top: 90px;
}

.padding-top-80px {
    padding-top: 80px;
}

.padding-top-70px {
    padding-top: 70px;
}

.padding-top-60px {
    padding-top: 60px;
}

.padding-top-50px {
    padding-top: 50px;
}

.padding-top-40px {
    padding-top: 40px;
}

.padding-top-30px {
    padding-top: 30px;
}

.padding-top-20px {
    padding-top: 20px;
}

.padding-top-10px {
    padding-top: 10px;
}

.half-width {
    max-width: 50%;
}

/* padding bottom */

.padding-bottom-120px {
    padding-bottom: 120px;
}

.padding-bottom-110px {
    padding-bottom: 110px;
}

.padding-bottom-100px {
    padding-bottom: 100px;
}

.padding-bottom-90px {
    padding-bottom: 90px;
}

.padding-bottom-80px {
    padding-bottom: 80px;
}

.padding-bottom-70px {
    padding-bottom: 70px;
}

.padding-bottom-60px {
    padding-bottom: 60px;
}

.padding-bottom-50px {
    padding-bottom: 50px;
}

.padding-bottom-40px {
    padding-bottom: 40px;
}

.padding-bottom-30px {
    padding-bottom: 30px;
}

.padding-bottom-20px {
    padding-bottom: 20px;
}

.padding-bottom-10px {
    padding-bottom: 10px;
}

/* padding left */

.padding-left-120px {
    padding-left: 120px;
}

.padding-left-110px {
    padding-left: 110px;
}

.padding-left-100px {
    padding-left: 100px;
}

.padding-left-90px {
    padding-left: 90px;
}

.padding-left-80px {
    padding-left: 80px;
}

.padding-left-70px {
    padding-left: 70px;
}

.padding-left-60px {
    padding-left: 60px;
}

.padding-left-50px {
    padding-left: 50px;
}

.padding-left-40px {
    padding-left: 40px;
}

.padding-left-30px {
    padding-left: 30px;
}

.padding-left-20px {
    padding-left: 20px;
}

.padding-left-10px {
    padding-left: 10px;
}

/* padding right */

.padding-right-120px {
    padding-right: 120px;
}

.padding-right-110px {
    padding-right: 110px;
}

.padding-right-100px {
    padding-right: 100px;
}

.padding-right-90px {
    padding-right: 90px;
}

.padding-right-80px {
    padding-right: 80px;
}

.padding-right-70px {
    padding-right: 70px;
}

.padding-right-60px {
    padding-right: 60px;
}

.padding-right-50px {
    padding-right: 50px;
}

.padding-right-40px {
    padding-right: 40px;
}

.padding-right-30px {
    padding-right: 30px;
}

.padding-right-20px {
    padding-right: 20px;
}

.padding-right-10px {
    padding-right: 10px;
}

/* template button */
.tmp-btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #E02C6D;
    text-transform: uppercase;
    padding: 10px 24px;
    border-radius: 20px;
    display: inline-block;
}

.tmp-btn:hover {
    background: #aa0240;
}

.tmp-btn i {
    margin-left: 8px;
}

/* section-title */

.section-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 150%;
    color: #3A3A3A;
    text-align: center;
}


/* images */
#details-img {
    height: 300px;
}

#self-thumbnail-img {
    height: 250px;
}

/* footer button */
#self-card-footer #self-details-btn {
    margin-left: 120px;
}